!!!
%html
  %head
    %title
      = t.title
    = haml :"header_imports"
  %body
    #layout
      = haml :"admin/nav"
      #main
        .content
          %h3
            = t.admin.events.new_event

          - if @errors
            = t.admin.events.errors
            %br
            - @errors.each do | key, value |
              = key
              = value
              %br

          %form.pure-form.pure-form-stacked{:method => "post", :role => "form"}
            %label{:for => "title"}
              = t.admin.events.title
            %input#title{:name => "event[title]", :type => "text", :value => @event.title}

            %label{:for => "start_date"}
              = t.admin.events.date
            %input#start_date{:name => "event[start_date]", :type => "date", :value => @event.start_date}

            %label{:for => "place"}
              = t.admin.events.place
            %input#place{:name => "event[place]", :type => "text", :value => @event.place}

            %label{:for => "description"}
              = t.admin.events.description
            %textarea#description{:name => "event[description]", :rows => "4"}
              = @event.description

            %label{:for => "cfp_description"}
              = t.admin.events.cfp_description
            %textarea#cfp_description{:name => "event[cfp_description]", :rows => "4"}
              = @event.cfp_description

            %button.btn.btn-default{:type => "submit"}
              = t.admin.events.update_event
          .padding
