!!!
%html
  %head
    %title
      = t.title
    = haml :"header_imports"
  %body
    #layout
      = haml :"admin/nav"
      #main
        .content
          %h3
            = t.admin.events.new_event

          - if @errors
            = t.admin.events.errors
            %br
            - @errors.each do | key, value |
              = key
              = value
              %br

          %form.pure-form.pure-form-stacked{:method => "post", :role => "form"}
            %label{:for => "title"}
              = t.admin.events.title
            %input#title{:name => "event[title]", :type => "text"}

            %label{:for => "start_date"}
              = t.admin.events.date
            %input#start_date{:name => "event[start_date]", :type => "date"}

            %label{:for => "place"}
              = t.admin.events.place
            %input#place{:name => "event[place]", :type => "text"}

            %label{:for => "description"}
              = t.admin.events.description
            %textarea#description{:name => "event[description]", :rows => "4"}

            %label{:for => "cfp_description"}
              = t.admin.events.cfp_description
            %textarea#cfp_description{:name => "event[cfp_description]", :rows => "4"}

            %button.btn.btn-default{:type => "submit"}
              = t.admin.events.create_event
          .padding

          %table.pure-table
            %thead
              %tr
                %th
                  = t.admin.events.title
                %th
                  = t.admin.events.date
                %th
                  = t.admin.events.place
            %tbody
              - @events.each do | event |
                %tr
                  %th #{event.title}
                  %th #{event.start_date}
                  %th #{event.place}
