!!!
%html
  %head
    %title
      = t.title
    = haml :'header_imports'
  %body
    #layout
      = haml :"admin/nav"
      #main
        .content
          %h3
            = t.cfp.suggestions.title
          - if @suggestions.empty?
            = t.cfp.suggestions.empty

          - @suggestions.each do | suggestion |
            %div.suggestion{:style => "background: #eee;"}
              %strong
                = suggestion.title
              %br
              = suggestion.description.gsub(/\r\n/, "<br>")
              %br
              %br
              %strong
                = t.cfp.form.format
              = suggestion.format
              %br
              %strong
                = t.cfp.form.track
              = suggestion.track
              %br
              %strong
                = t.cfp.form.speaker
              = suggestion.speaker
              %br
              %form.pure-form{:method => "post", :role => "form"}
                %input{:name => "id", :value => suggestion.id, :type => "hidden"}
                %label{:for => "track"}
                  = t.admin.form.pick_track
                %select#track{:name => "track"}
                  %option{:value => "no_value"} No track
                  - @tracks.each do | track |
                    %option{:value => track.title, :selected => track.title == suggestion.track}
                      = track.title

                %label{:for => "time"}
                  = t.admin.form.set_time
                %input#time{:name => "time", :type => "time"}

                %button.btn.btn-default{:name => "submit"}
                  = t.admin.form.add_talk
            .padding
