!!!
%html
  %head
    %title
      = t.title
    = haml :"header_imports"
  %body
    #layout
      = haml :"admin/nav"
      #main
        .content
          %h3
            = t.admin.talks.content
          - if @talks.empty?
            = t.admin.talks.empty

          - @talks.each do | talk |
            %div.suggestion{:style => "background: #eee;"}
              %strong
                = talk.title
              %br
              = talk.description.gsub(/\r\n/, "<br>")
              %br
              %br
              %strong
                = t.admin.talks.format
              = talk.format
              %br
              %strong
                = t.admin.talks.track
              = talk.track
              %br
              %strong
                = t.admin.talks.time
              = talk.time.strftime("%H:%M")
              %br
              %strong
                = t.admin.talks.speaker
              = talk.speaker
              %br
              %form.pure-form{:method => "post", :role => "form"}
                %input{:name => "id", :value => talk.id, :type => "hidden"}

                %label{:for => "track"}
                  = t.admin.form.pick_track
                %select#track{:name => "track"}
                  %option{:value => "no_value"} No track
                  - @tracks.each do | track |
                    %option{:value => track.title, :selected => track.title == talk.track}
                      = track.title

                %label{:for => "time"}
                  = t.admin.form.change_time
                %input#time{:name => "time", :type => "time", :value => talk.time.strftime("%H:%M")}

                %button.btn.btn-default{:name => "submit"}
                  = t.admin.form.change_time_button

                %button.btn.btn-default{:name => "delete"}
                  = t.admin.talks.delete
            .padding
