!!!
%html
  %head
    %title
      = t.title
    = haml :'header_imports'
  %body
    #layout
      = haml :"admin/nav"
      #main
        .content
          %h3
            = t.admin.tracks.add

          %form.pure-form.pure-form-stacked{:method => "post", :role => "form"}
            %label{:for => "title"}
              = t.admin.tracks.title
            %input#title{:name => "track[title]", :type => "text"}

            %label{:for => "submit"}
            %button.btn.btn-default{:type => "submit"}
              = t.admin.tracks.create
          .padding

          %table.pure-table
            %thead
              %tr
                %th
                  = t.admin.tracks.title
                %th
            %tbody
              - @tracks.each do | track |
                %tr
                  %th #{track.title}
                  %th
                    = t.admin.tracks.delete
