!!!
%html
  %head
    %title
      = t.title
    = haml :"templates/header_imports"
    -green = '#821CB4'
    -purple = '#B3DB11'
  %body
    = haml :"templates/nav"
    .container
      %p
        = t.admin.content
      
      %form.form-horizontal{:method => "post", :role => "form"}
        %fieldset
          .control-group
            %label.control-label{:for => "site_mode"}
              = t.admin.form.site_mode
            .controls
              %select#format.input-xlarge{:name => "site_mode", :style => "width: 100%;"}
                %option{:value => "cfp"} CFP mode
                %option{:value => "track"} Track mode

          .control-group
            %label.control-label{:for => "submit"}
            .controls
              %button#submit.btn.btn-default{:name => "submit"}
                = t.admin.form.submit
