!!!
%html
  %head
    %title
      = t.title
    = haml :"templates/header_imports"
  %body
    = haml :"templates/nav"
    .container
      %h3
        = t.cfp.title
      %p
        = t.cfp.content
      %br
      %form.form-horizontal{:method => "post", :role => "form"}
        %fieldset
          .control-group
            %label.control-label{:for => "title"}
              = t.cfp.form.title
            .controls
              %input#tittel.input-xlarge{:name => "suggestion[title]", :placeholder => "Title", :required => "", :type => "text", :style => "width: 100%;"}
          .control-group
            %label.control-label{:for => "description"}
              = t.cfp.form.description
            .controls
              %textarea#beskrivelse{:name => "suggestion[description]", :placeholder => "Description", :required => "", :style => "width: 100%;", :rows => "4"}
          .control-group
            %label.control-label{:for => "format"}
              = t.cfp.form.format
            .controls
              %select#format.input-xlarge{:name => "suggestion[format]", :style => "width: 100%;"}
                %option{:value => "45 minute talk"} 45 minute talk
                %option{:value => "10 lightning talk"} 10 lightning talk
                %option{:value => "workshop"} Workshop
                %option{:value => "other"} Other
          .control-group
            %label.control-label{:for => "track"}
              = t.cfp.form.track
            .controls
              %select#selectbasic.input-xlarge{:name => "suggestion[track]", :style => "width: 100%;"}
                %option{:value => "all"} For All
                %option{:value => "java"} Java
                %option{:value => "net"} .NET
                %option{:value => "ux"} UX
                %option{:value => "other"} Other
          .control-group
            %label.control-label{:for => "speaker"}
              = t.cfp.form.speaker
            .controls
              %input#tittel.input-xlarge{:name => "suggestion[speaker]", :placeholder => "Speaker", :required => "", :type => "text", :style => "width: 100%;"}
          .control-group
            %label.control-label{:for => "submit"}
            .controls
              %button#submit.btn.btn-default{:name => "submit"} Submit
              %button#cancel.btn.btn-default{:name => "clear", :type => "reset"} clear
          .control-group
      %br
