!!!
%html
  %head
    %title
      = t.title
    = haml :'header_imports'
    -green = '#821CB4'
    -purple = '#B3DB11'
  %body
    #layout
      = haml :"cfp/nav"
      #main
        .header
          %h2
            = t.title
        .content
          = t.main.content
          %br
          %a{:href => "/cfp", :class => "no-underline"}
            %div{:class => "col-lg-12 big-btn", :style => "background: #{purple}; color: #{green};"}
              = t.cfp.menu.cfp
          %a{:href => "/cfp/suggestions", :class => "no-underline"}
            %div{:class => "col-lg-12 big-btn", :style => "background: #{green}; color: #{purple};"}
              = t.cfp.menu.suggestions

    %script(src="/js/ui.js")
