!!!
%html
  %head
    %title
      = t.title
    = haml :'header_imports'
    - green = '#821CB4'
    - purple = '#B3DB11'
    - color_one = green
    - color_two = purple
  %body
    #layout
      = haml :"track/nav"
      #main
        .content
          = t.main.content
          %br
          - @tracks.each do | track |
            %a{:href => "/track/#{track}", :class => "no-underline"}
              %div{:class => "col-lg-12 big-btn", :style => "background: #{color_one}; color: #{color_two};"}
                = track
                - temp = color_one
                - color_one = color_two
                - color_two = temp
          %a{:href => "/track/all", :class => "no-underline"}
            %div{:class => "col-lg-12 big-btn", :style => "background: #{color_one}; color: #{color_two};"}
              = t.main.all
          %a{:href => "/track/now", :class => "no-underline"}
            %div{:class => "col-lg-12 big-btn", :style => "background: #{color_two}; color: #{color_one};"}
              = t.main.now
