!!!
%html
  %head
    %title
      = t.title
    = haml :'header_imports'
  %body
    #layout
      = haml :"cfp/nav"
      #main
        .content
          %h3
            = t.cfp.suggestions.title
          - if @suggestions.empty?
            = t.cfp.suggestions.empty

          - @suggestions.each do | suggestion |
            %div.suggestion{:style => "background: #eee;"}
              %strong
                = suggestion.title
              %br
              = suggestion.description.gsub(/\r\n/, "<br>")
              %br
              %br
              %strong
                = t.cfp.form.format
              = suggestion.format
              %br
              %strong
                = t.cfp.form.track
              = suggestion.track
              %br
              %strong
                = t.cfp.form.speaker
              = suggestion.speaker
              %br
            .padding
