!!!
%html
  %head
    %title
      = t.title
    = haml :"templates/header_imports"
  %body
    #layout
      = haml :"cfp/nav"
      #main
        .content
          Suggestions for CDU 2015 Spring Edition
          %br
          - if @suggestions.empty?
            No suggestions yet

          - @suggestions.each do | suggestion |
            %div.suggestion{:style => "background: #eee;"}
              %strong
                = suggestion.title
              %br
              = suggestion.description.gsub(/\r\n/, "<br>")
              %br
              %br
              %strong Format:
              = suggestion.format
              %br
              %strong Track:
              = suggestion.track
              %br
              %strong Speaker:
              = suggestion.speaker
              %br
            .padding
