!!!
%html
  %head
    %title
      = t.title
    = haml :'header_imports'
  %body
    #layout
      = haml :'track/nav'
      #main
        .content
          %h3
            = t.tracks.track
            = t.tracks.menu.all
          - @talks.each do | talk |
            - color = '#eee'
            - if defined? is_now and is_now
              - color = '#B3DB11'

            %div.track-spot{:style => "background: #{color};"}
              .toggleDescription
                %span.label.label-info.pull-right
                  = talk.time.strftime("%H:%M")
                %h4{:style => "margin-bottom: 0px;"}
                  = talk.title
                %span.speaker
                  = talk.speaker
              .slideDescription
                = talk.description
            .padding

    :javascript
      $(document).ready(function() {
        $(".toggleDescription").click(function() {
          $(this).nextAll('.slideDescription').first().slideToggle();
        });
        $(".toggleComment").click(function() {
          $(this).nextAll('.slideComment').first().slideToggle();
        });
      });
