/ Menu toggle
%a#menuLink.menu-link{:href => "#menu"}
  / Hamburger icon
  %span
#menu
  .pure-menu
    %ul.pure-menu-list
      %li.pure-menu-item
        %a.pure-menu-link{:href => "/"}
          = t.tracks.menu.home
      - @tracks.each do | track |
        %li.pure-menu-item
          %a.pure-menu-link{:href => "/track/#{track}"}
            = track
      %li.pure-menu-item
        %a.pure-menu-link{:href => "/track/all"}
          = t.tracks.menu.all
      %li.pure-menu-item
        %a.pure-menu-link{:href => "/track/now"}
          = t.tracks.menu.now
