!!!
%html
  %head
    %title Ciber Developer Update
    = haml :'templates/header_imports'
    :javascript
      $(document).ready(function() {
        #{get_file('public/js/rateit_module.js')}
      });
  %body#test_el
    = haml :'track/nav'
    .container
      Track #{@track.title} | #{@track.room}
      %br
      - @talks.each do | talk |
        - color = '#eee'
        - if defined? is_now and is_now
          - color = '#B3DB11'
    
        %div.track-spot{:style => "background: #{color};"}
          .toggleDescription
            %span.label.label-info.pull-right
              = talk.time
            %h4{:style => "margin-bottom: 0px;"}
              = talk.title
          %span.speaker
            = talk.speaker
          .slideDescription
            = talk.description

          #rating
            Rate (#{get_number_of_ratings_for(value["id"])}):
            .rateit{"data-spotid" => value["id"], "data-rateit-resetable" => "false", "data-rateit-step" => "1", "data-rateit-value" => get_rating_for!(value["id"])}
          .toggleComment
            Kommenter:
            .slideComment
            %form.form-inline{:action => "/track/#{params['track']}/#{value["id"]}", :method => "post", :role => "form"}
              %textarea{:name => "kommentar", :style => "width: 90%;", :placeholder => "Skriv inn en kommentar"}
            .form-group
              %label.sr-only{:for => "navn"} Navn
              %input#navn.form-control{:name => "navn", :placeholder => "Navn", :style => "display: inline-block; margin-bottom: 0px; vertical-align: middle; width: auto;"}
              %button.btn.btn-default{:type => "submit"} Send

:javascript
  $(document).ready(function() {
    $(".toggleDescription").click(function() {
      $(this).nextAll('.slideDescription').first().slideToggle();
    });
    $(".toggleComment").click(function() {
      $(this).nextAll('.slideComment').first().slideToggle();
    });
  });
